/* @font-face {
  font-family: 'myfont';
  src: url('./fonts/jmyfont.woff') format('woff'),
    url('./fonts/myfont.eot') format('eot'),
    url('./fonts/myfont.svg') format('svg');
  font-style: normal;
} */

/* COPYRIGHT */

.container-A {
  position: absolute;
  top: 20%;
  left: 10%;
}

.container-info {
  display: flex;
  text-align: center;
  margin-top: 5%;
}

.info {
  display: flex;
  flex-direction: column;
}

.degree {
  position: relative;
  bottom: 20%;
  right: 2%;
}